@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

body{
     font-family: "Kumbh Sans", sans-serif;
}
@theme {
    --font-Kumbh: "Kumbh Sans", sans-serif;
    --font-nunito-sans: "Nunito Sans", sans-serif;
    --font-nunito: "Nunito", sans-serif;

    
    --color-Orange: hsl(26, 100%, 55%);
    /* --color-Pale-orange: hsl(25, 100%, 94%) */
}
